# AMMI DAY 1

## Morning Session
### Jupyter Notebooks
* Google Colaboratory
* Azure Notebooks
* Google Datalab
* AWS

### Jupyter Notebooks
* Interactive Programming Environment
* Support for Julia, Python, R
* Available here: https://jupyter.org/
* Popular distribution is Anaconda: https://www.anaconda.com/

### Google Colaboratory
* Hosted by Google as a free instance
* No need for installation
* Makes collaboration easy
* Provides GPU (and TPU) on-demand
* Limits available memory
* Resets virtual machine when not in use
* Available at: https://colab.research.google.com/

### Azure Notebooks
* Hosted by Microsoft as a free instance
* Available at: https://notebooks.azure.com/

### Google Datalab
* Provided by Google as a paid service
* Provides a virtual machine with Jupyter Labs pre-installed
* Can configure number of processors and RAM
* Can configure GPU and TPU instances

### Amazon SageMaker Notebooks
* Provided by Amazon as a paid service
* Available as part of AWS

## Afternoon Session
### Introduction to Python Programming
* Functions
* Classes
* Operators

__Python Variables__

In [0]:
a = 1
print(type(a))

<class 'int'>

In [0]:
b = 2.0
print(type(b))

<class 'float'>

In [0]:
c = 'hello'
print(type(c))

<class 'str'>

In [0]:
print(type(a + 0.0))

<class 'float'>

In [0]:
print('the value of a is {}'.format(a))

In [0]:
# modulo
print(20 % 3)

2

In [0]:
# exponential
print(3 ** 3)

27

In [0]:
print(40 // 3)

13

__Conditionals__

In [0]:
# Equal to
x = 40 % 3
if x == 2:
  print('1 remains')

In [0]:
# Not Equal to
if a != 2:
  print('not equal to 2')

not equal to 2

In [0]:
# Greater than
if a > 1:
  print('satisfied')

In [0]:
# Greater than or equal to
if a >= 1:
  print('condition satisfied')

condition satisfied

In [0]:
# Less than
if a < 2:
  print('satisfied')

satisfied

In [0]:
# Less than or equal to
if a <= 2:
  print('satisfied')

satisfied

In [0]:
if a == 2:
  print('2')
elif a == 1:
  print('1')
else:
  print('neither')

In [0]:
a = 0
if 20%3 == 1:
  a = 1
else:
  a = 2
print(a)

2

In [0]:
x = 2
y = 3
a = (x == y) ? 1 : 2

SyntaxError: ignored

In [0]:
try:
  if x = 2:
    print('2')
except:
  print('something went wrong')

SyntaxError: ignored

__Loops__

In [0]:
# do this n times
n = 15
#[2,15)
for i in range(2, n, 3):
  print(i)
  
# in what other ways can we make use of range?

2
5
8
11
14

In [0]:
_range = range(5)
print(_range)

range(0, 5)

In [0]:
# do this n times
n = 10
for i in range(1, n, 2):
  print(i)
  
# in what other ways can we make use of range?

1
3
5
7
9

In [0]:
# do this n times
n = 10
for i in range(n, 0, -2):
  print(i)
  
# in what other ways can we make use of range?

10
8
6
4
2

In [0]:
# do this as long as a condition is true
n = 5
while n > 0:
  print(n)
  n = n - 1

5
4
3
2
1

__Some shortcuts__

In [0]:
n = 2
n = n + 3
print(n)

n = 2
n += 3
print(n)

5
5

In [0]:
n = 3
n *= 7
print(n)

21

### Functions - making things repeatable

$f(x) = x + 2$

In [0]:
a1 = 7
a2 = 332
a3 = 19

print(a1 + 2)
print(a2 - 2)
print(a3 + 2)

9
330
21

In [0]:
def add_2(x):
  return x + 2

In [0]:
print(add_2(a1))
print(add_2(a2))
print(add_2(a3))

9
334
21

# Fibonnacci Sequence

$f_1 = 0$

$f_2 = 1$

$f_n = f_{n-1} + f_{n-2}$

0 1 1 2 3 5 8 13 ...

In [0]:
def fib_2(x):
  x0 = 0
  x1 = 1
  x2 = 1
  for i in range(x):
    x0 = x1
    x1 = x2
    x2 = x0 + x1
  return x2

In [0]:
def my_abs(x):
  if x < 0:
    return x * -1
  return x

In [0]:
print(my_abs(-9))

9

In [0]:
print(my_abs(7))

7

In [0]:
def ibrahim_sqrt(x):
  return x ** 0.5

In [0]:
print(ibrahim_sqrt(9))

3.0

### Question:
Can we pass functions as parameters to other functions?

### Question:
Can we pass default parameters to functions?

In [0]:
def f(x=2):
  return x
  
print(f())
print(f(3))
print(f(4))
print(f())

2
3
4
2

In [0]:
a = f(3)
print(a)

_ = f(3)

3

### Lambda Functions

In [0]:
f = lambda x: x ** 2

In [0]:
print(f(3))

9

In [0]:
g = lambda x,y: x ** y
print(g(3,4))

81

In [0]:
def my_pow(base, power):
  return base ** power

In [0]:
print(my_pow(2, 9))
print(my_pow(3, 3))

512
27

In [0]:
def f_pow(n):
  return lambda a: a ** n

In [0]:
sqr = f_pow(2)
print(sqr(9))

81

In [0]:
cube = f_pow(3)
print(cube(3))

27

$f(x) = w.x + b$

2, 5

3, 10

4, 17

## Classes

Think of classes as recipes. An object is an instance of a class.

In [0]:
class Class1:
  x = 0

In [0]:
_c1 = Class1()
_c2 = Class1()
_c3 = Class1()
print(_c1.x, _c2.x, _c3.x)

0 0 0

In [0]:
print(_c1 is _c2)

False

In [0]:
class Class1:
  x = 0

In [0]:
class Class2:
  def __init__(self, a, b):
    self.a = a #this is the length
    self.b = b #this is the width
    self.c = a ** b
    
  def doSomething(self):
    return self.a / self.b
  
  def doSomethingElse(self, multiplier):
    return self.a / self.b * multiplier

In [0]:
_c = Class2(2,3.5)
print(_c.c)

11.313708498984761

In [0]:
_d = Class2(3,4)
print(_d.c)
print(_d.doSomething())
print(_d.doSomethingElse(8))

81
0.75
6.0

In [0]:
c1 = Class2(4,5)
c2 = Class2(5,6)
c3 = Class2(6,7)

In [0]:
print(c2.doSomething())
print(c2.c)

30
30

## Question:
Can we have a class that does what Class2 does, and then more?

a = 5

b = 6

c = Class2(a,b)

In [0]:
class Class3(Class2):
  def __init__(self, a, b, d):
    super().__init__(a, b)
    self.d = d
    self.e = (self.a + self.b) * d * self.c
    
  def _toString(self):
    print('a: {}, b: {}, c: {}, d: {}, e: {}'.format(self.a, self.b, self.c, self.d, self.e))

In [0]:
c = Class3(4, 5, 6)

In [0]:
print(c.a, c.b, c.c, c.d, c.e)

4 5 1024 6 55296

In [0]:
c._toString()

a: 4, b: 5, c: 1024, d: 6, e: 55296

## Problem

$ \frac{x - a}{b} = \frac{x + c}{d} $

Create a class to solve for x

## Problem

$ a[b - (c.x - d) + a.x] = 0 $

Solve for x

## After the quiz

In [0]:
for i in range(8,10):
  print(i)

8
9

In [0]:
i = 0
n = 10
f = open('file.txt')
while not f.next():
  print(i)

In [0]:
x = 0
x = x + 2
print(x)

2

In [0]:
x = 0
x =+ 2
print(x)

2

In [0]:
x = 0
x += 2
print(x)

2

In [0]:
y = 2

In [0]:
y =- 7

In [0]:
y

-7