# AMMI Day 2

## Morning Session
### Python Data Structures
* Lists
* Dictionaries
* Stacks
* Queues

## Lists
Collection type that is ordered and changeable

In [0]:
_list1 = ['zero', 'first', 'second', 'third']
print(_list1)
print(len(_list1))

['zero', 'first', 'second', 'third']
4

0-based index

In [0]:
print(_list1[2] )

second

can we start counting from the end?

In [0]:
print(_list1[-1])

third

extract a range

In [0]:
_list = ['zero', 'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']
print(_list[2:5])

['two', 'three', 'four']

update the value at index 0

In [0]:
_list[0] = 'updated zero'
print(_list)

['updated zero', 'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

can we iterate over a list?

In [0]:
for i in _list:
  print(i)

updated zero
one
two
three
four
five
six
seven
eight

can we check for an item in a list?

In [0]:
if 'two' in _list:
  print('exists')

exists

In [0]:
print(len(_list))
_list[9] = 'ten'
print(_list)

9

IndexError: ignored

Let's `append()` to the list

In [0]:
print(len(_list1))
_list1.append('four')
print(len(_list1))

4
5

Let's `insert()` an item at the specified index

In [0]:
print(_list)
_list.insert(9, 'nine')
print(_list)

['updated zero', 'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']
['updated zero', 'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

A stack is a collection that lends itself to push and `pop()` operations. We have used `append()` to push, now let's `pop()`

* By appending to the front and popping from the back, you create a queue
* By appending to the back and popping from the back, you create a stack

To copy a list, subset the entire list

In [0]:
_list2 = _list1

In [0]:
print(_list1)
print(_list2)

['zero', 'first', 'second', 'third', 'four']
['zero', 'first', 'second', 'third', 'four']

In [0]:
_list1[0] = 'mod zero'
print(_list1)
print(_list2)

['mod zero', 'first', 'second', 'third', 'four']
['mod zero', 'first', 'second', 'third', 'four']

In [0]:
print(_list1 is _list2)

True

In [0]:
_list2 = list(_list1)
print(_list1 is _list2)

False

In [0]:
_list2 = _list1[:]
print(_list1 is _list2)

False

Or use the copy method

In [0]:
_list3 = _list1.copy()
print(_list1 is _list3)

True

In [0]:
print(_list1)
print(_list3)

['mod zero', 'first', 'second', 'third', 'four']
['mod zero', 'first', 'second', 'third', 'four']

In [0]:
_list3[0] = 'zero'
print(_list1)
print(_list3)

['zero', 'first', 'second', 'third', 'four']
['zero', 'first', 'second', 'third', 'four']

Use `extend()` to copy the elements of one list to another

In [0]:
print(_list1)
print(_list)

['zero', 'first', 'second', 'third', 'four']
['updated zero', 'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [0]:
_new_list = _list1.copy()
_new_list.extend(_list)
print(_new_list)

['zero', 'first', 'second', 'third', 'four', 'updated zero', 'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

Use `sort()` to sort a list

In [0]:
_new_list.sort()
print(_new_list)

['eight', 'first', 'five', 'four', 'four', 'nine', 'one', 'second', 'seven', 'six', 'third', 'three', 'two', 'updated zero', 'zero']

In [0]:
_new_list.sort(reverse=True)
print(_new_list)

['zero', 'updated zero', 'two', 'three', 'third', 'six', 'seven', 'second', 'one', 'nine', 'four', 'four', 'five', 'first', 'eight']

Use `reverse()` to reverse a list

## Tuples
An immutable collection of ordered items

In [0]:
_tuple1 = ('zero', 'one', 'two')

print element 0

In [0]:
print(_tuple1[0])

zero

In [0]:
def _ret_tuple():
  return ('a', 'b')

In [0]:
x, y = _ret_tuple()
print(x, y)

a b

convert tuple to list

In [0]:
my_list = list(_tuple1)

convert list to tuple

In [0]:
my_tuple = tuple(my_list)

In [0]:
for i in my_tuple:
  print(i)

zero
one
two

## Sets
Unordered, unindexed

In [0]:
_set1 = {'one', 'nine', 'four'}

get the items

In [0]:
for i in _set1:
  print(i)

nine
one
four

`add()` an item

In [0]:
_set1.add('two')
print(_set1)

_set1.add('two')
print(_set1)

{'nine', 'one', 'two', 'four'}
{'nine', 'one', 'two', 'four'}

`remove()` an item

In [0]:
_set1.remove('nine')
print(_set1)

{'one', 'two', 'four'}

In [0]:
_set1.add(1)
print(_set1)

{1, 'one', 'two', 'four'}

additional methods such as `union()`, `intersect()`, `issubset()`

## Dictionary
Unordered collection of key-value pairs

In [0]:
_dict1 = {'k1':'v1', 'k2':'v2'}
print(_dict1)

{'k1': 'v1', 'k2': 'v2'}

In [0]:
_dict2 = dict(k1='v1', k2='v2')
print(_dict2)

{'k1': 'v1', 'k2': 'v2'}

In [0]:
_countries_list = ['Kenya', 'Rwanda', 'Uganda']
_temperatures_list = [17, 19, 21]

for i in range(len(_countries_list)):
  print('country: {} temperature: {}'.format(_countries_list[i], _temperatures_list[i]))

country: Kenya temperature: 17
country: Rwanda temperature: 19
country: Uganda temperature: 21

In [0]:
_countries_dict = {'Kenya': 17, 'Rwanda': 19, 'Uganda': 21}
print(_countries_dict)

{'Kenya': 17, 'Rwanda': 19, 'Uganda': 21}

print the value of `k1`

In [0]:
print(_countries_dict['Kenya'])

17

use the `get()` method for similar effect

In [0]:
print(_countries_dict.get('Ghana', 0))

0

In [0]:
_kenya_temp = {'mon':11, 'tue':11, 'wed':13, 'thu':11, 'fri':12}
_rwanda_temp = {'mon':10, 'tue':18, 'wed':17, 'thu':17, 'fri':10}
_uganda_temp = {'mon':19, 'tue':18, 'wed':19, 'thu':17, 'fri':18}
_countries_2_dict = {'Kenya': _kenya_temp, 'Rwanda': _rwanda_temp, 'Uganda': _uganda_temp}
print(_countries_2_dict)

{'Kenya': {'mon': 11, 'tue': 11, 'wed': 13, 'thu': 11, 'fri': 12}, 'Rwanda': {'mon': 10, 'tue': 18, 'wed': 17, 'thu': 17, 'fri': 10}, 'Uganda': {'mon': 19, 'tue': 18, 'wed': 19, 'thu': 17, 'fri': 18}}

update the value of `k1`

In [0]:
_countries = ['Kenya', 'Rwanda', 'Uganda']
_temps = [17, 14, 21]

_countries_dict = {}

for i in range(len(_countries)):
  _countries_dict[_countries[i]] = _temps[i]
print(_countries_dict)

{'Kenya': 17, 'Rwanda': 14, 'Uganda': 21}

In [0]:
_countries_dict['Kenya'] = 18
print(_countries_dict)

{'Kenya': 18, 'Rwanda': 14, 'Uganda': 21}

try looping over a dictionary

In [0]:
for i in _countries_dict:
  print(i)

Kenya
Rwanda
Uganda

iterate over keys and values

In [0]:
for _, v in _countries_dict.items():
  print('value: {}'.format(v))

value: 18
value: 14
value: 21

how do we get the length of the dictionary?

In [0]:
print(len(_countries_dict))

3

how do we add an item to the dictionary?

In [0]:
how do we remove an item?

In [0]:
_ = _countries_dict.pop('Uganda')
print(_countries_dict)

{'Kenya': 18, 'Rwanda': 14}

how do we `copy()` ?

In [0]:
_dict3 = _dict2.copy()
print(_dict2 is _dict3)

False

In [0]:
can dictionaries contain other dictionaries?

what does `get()` do?

## Afternoon Session
### An overview of Algorithms in Python

Moving in lock-step

In [0]:
_countries = ['Kenya', 'Rwanda', 'Uganda']
_temps = [17, 14, 21]

_countries_dict = {}

for i in range(len(_countries)):
  _countries_dict[_countries[i]] = _temps[i]
print(_countries_dict)

{'Kenya': 17, 'Rwanda': 14, 'Uganda': 21}

In [0]:
_countries_dict = {}
for k, v in zip(_countries, _temps):
  print(k, v)
  _countries_dict[k] = v

Kenya 17
Rwanda 14
Uganda 21

In [0]:
my_zip = zip(_countries, _temps)
print(*zip(_countries, _temps))

('Kenya', 17) ('Rwanda', 14) ('Uganda', 21)

Operations on Lists

In [0]:
print(_temps)

[17, 14, 21]

convert our temps to fahrenheit (*9/5 + 32)
* use a loop

In [0]:
f_temp = []
for temp in _temps:
  f = temp * 9/5 + 32
  f_temp.append(f)
  
print(f_temp)

[62.6, 57.2, 69.8]

Use a map()

In [0]:
_fah = map(lambda x: x * 9 / 5 + 32, _temps)

In [0]:
print(_fah)

<map object at 0x7f0dae4c0cc0>

In [0]:
print(list(_fah))

[62.6, 57.2, 69.8]

## Comprehensions

How do we convert a dictionary into a list?

'Kenya = 17'

In [0]:
for k, v in _countries_dict.items():
  print('{} = {}'.format(k, v))

Kenya = 17
Rwanda = 14
Uganda = 21

In [0]:
my_list = map(lambda x, y: '{} = {}'.format(x, y), _countries_dict.keys(), _countries_dict.values())
print(list(my_list))

In [0]:
print(_countries_dict.items())

dict_items([('Kenya', 17), ('Rwanda', 14), ('Uganda', 21)])

In [0]:
my_list = ['{} = {}'.format(k, v) for k, v in _countries_dict.items()]
print(my_list)

['Kenya = 17', 'Rwanda = 14', 'Uganda = 21']

How do we convert a list into a dictionary?

In [0]:
for i in _countries:
  print(i, len(i))

Kenya 5
Rwanda 6
Uganda 6

In [0]:
print(_countries)
my_dict = {i:len(i) for i in _countries}
print(my_dict)

['Kenya', 'Rwanda', 'Uganda']
{'Kenya': 5, 'Rwanda': 6, 'Uganda': 6}

Can we nest ranges?

In [0]:
for week in range(1,3):
  for day in ['mon', 'tue', 'wed', 'thu', 'fri']:
    for hour in range(24):
      print('week {} : {} : {}'.format(week, day, hour))

week 1 : mon : 0
week 1 : mon : 1
week 1 : mon : 2
week 1 : mon : 3
week 1 : mon : 4
week 1 : mon : 5
week 1 : mon : 6
week 1 : mon : 7
week 1 : mon : 8
week 1 : mon : 9
week 1 : mon : 10
week 1 : mon : 11
week 1 : mon : 12
week 1 : mon : 13
week 1 : mon : 14
week 1 : mon : 15
week 1 : mon : 16
week 1 : mon : 17
week 1 : mon : 18
week 1 : mon : 19
week 1 : mon : 20
week 1 : mon : 21
week 1 : mon : 22
week 1 : mon : 23
week 1 : tue : 0
week 1 : tue : 1
week 1 : tue : 2
week 1 : tue : 3
week 1 : tue : 4
week 1 : tue : 5
week 1 : tue : 6
week 1 : tue : 7
week 1 : tue : 8
week 1 : tue : 9
week 1 : tue : 10
week 1 : tue : 11
week 1 : tue : 12
week 1 : tue : 13
week 1 : tue : 14
week 1 : tue : 15
week 1 : tue : 16
week 1 : tue : 17
week 1 : tue : 18
week 1 : tue : 19
week 1 : tue : 20
week 1 : tue : 21
week 1 : tue : 22
week 1 : tue : 23
week 1 : wed : 0
week 1 : wed : 1
week 1 : wed : 2
week 1 : wed : 3
week 1 : wed : 4
week 1 : wed : 5
week 1 : wed : 6
week 1 : wed : 7
week 1 : wed : 8
week 1 : wed : 9
week 1 : wed : 10
week 1 : wed : 11
week 1 : wed : 12
week 1 : wed : 13
week 1 : wed : 14
week 1 : wed : 15
week 1 : wed : 16
week 1 : wed : 17
week 1 : wed : 18
week 1 : wed : 19
week 1 : wed : 20
week 1 : wed : 21
week 1 : wed : 22
week 1 : wed : 23
week 1 : thu : 0
week 1 : thu : 1
week 1 : thu : 2
week 1 : thu : 3
week 1 : thu : 4
week 1 : thu : 5
week 1 : thu : 6
week 1 : thu : 7
week 1 : thu : 8
week 1 : thu : 9
week 1 : thu : 10
week 1 : thu : 11
week 1 : thu : 12
week 1 : thu : 13
week 1 : thu : 14
week 1 : thu : 15
week 1 : thu : 16
week 1 : thu : 17
week 1 : thu : 18
week 1 : thu : 19
week 1 : thu : 20
week 1 : thu : 21
week 1 : thu : 22
week 1 : thu : 23
week 1 : fri : 0
week 1 : fri : 1
week 1 : fri : 2
week 1 : fri : 3
week 1 : fri : 4
week 1 : fri : 5
week 1 : fri : 6
week 1 : fri : 7
week 1 : fri : 8
week 1 : fri : 9
week 1 : fri : 10
week 1 : fri : 11
week 1 : fri : 12
week 1 : fri : 13
week 1 : fri : 14
week 1 : fri : 15
week 1 : fri : 16
week 1 : fri : 17
week 1 : fri : 18
week 1 : fri : 19
week 1 : fri : 20
week 1 : fri : 21
week 1 : fri : 22
week 1 : fri : 23
week 2 : mon : 0
week 2 : mon : 1
week 2 : mon : 2
week 2 : mon : 3
week 2 : mon : 4
week 2 : mon : 5
week 2 : mon : 6
week 2 : mon : 7
week 2 : mon : 8
week 2 : mon : 9
week 2 : mon : 10
week 2 : mon : 11
week 2 : mon : 12
week 2 : mon : 13
week 2 : mon : 14
week 2 : mon : 15
week 2 : mon : 16
week 2 : mon : 17
week 2 : mon : 18
week 2 : mon : 19
week 2 : mon : 20
week 2 : mon : 21
week 2 : mon : 22
week 2 : mon : 23
week 2 : tue : 0
week 2 : tue : 1
week 2 : tue : 2
week 2 : tue : 3
week 2 : tue : 4
week 2 : tue : 5
week 2 : tue : 6
week 2 : tue : 7
week 2 : tue : 8
week 2 : tue : 9
week 2 : tue : 10
week 2 : tue : 11
week 2 : tue : 12
week 2 : tue : 13
week 2 : tue : 14
week 2 : tue : 15
week 2 : tue : 16
week 2 : tue : 17
week 2 : tue : 18
week 2 : tue : 19
week 2 : tue : 20
week 2 : tue : 21
week 2 : tue : 22
week 2 : tue : 23
week 2 : wed : 0
week 2 : wed : 1
week 2 : wed : 2
week 2 : wed : 3
week 2 : wed : 4
week 2 : wed : 5
week 2 : wed : 6
week 2 : wed : 7
week 2 : wed : 8
week 2 : wed : 9
week 2 : wed : 10
week 2 : wed : 11
week 2 : wed : 12
week 2 : wed : 13
week 2 : wed : 14
week 2 : wed : 15
week 2 : wed : 16
week 2 : wed : 17
week 2 : wed : 18
week 2 : wed : 19
week 2 : wed : 20
week 2 : wed : 21
week 2 : wed : 22
week 2 : wed : 23
week 2 : thu : 0
week 2 : thu : 1
week 2 : thu : 2
week 2 : thu : 3
week 2 : thu : 4
week 2 : thu : 5
week 2 : thu : 6
week 2 : thu : 7
week 2 : thu : 8
week 2 : thu : 9
week 2 : thu : 10
week 2 : thu : 11
week 2 : thu : 12
week 2 : thu : 13
week 2 : thu : 14
week 2 : thu : 15
week 2 : thu : 16
week 2 : thu : 17
week 2 : thu : 18
week 2 : thu : 19
week 2 : thu : 20
week 2 : thu : 21
week 2 : thu : 22
week 2 : thu : 23
week 2 : fri : 0
week 2 : fri : 1
week 2 : fri : 2
week 2 : fri : 3
week 2 : fri : 4
week 2 : fri : 5
week 2 : fri : 6
week 2 : fri : 7
week 2 : fri : 8
week 2 : fri : 9
week 2 : fri : 10
week 2 : fri : 11
week 2 : fri : 12
week 2 : fri : 13
week 2 : fri : 14
week 2 : fri : 15
week 2 : fri : 16
week 2 : fri : 17
week 2 : fri : 18
week 2 : fri : 19
week 2 : fri : 20
week 2 : fri : 21
week 2 : fri : 22
week 2 : fri : 23

In [0]:
weeks_and_days = [('week {}'.format(week), day, hour) for week in range (1,3) for day in ['mon', 'tue', 'wed', 'thu', 'fri'] for hour in range(24)]
print(weeks_and_days)

[('week 1', 'mon', 0), ('week 1', 'mon', 1), ('week 1', 'mon', 2), ('week 1', 'mon', 3), ('week 1', 'mon', 4), ('week 1', 'mon', 5), ('week 1', 'mon', 6), ('week 1', 'mon', 7), ('week 1', 'mon', 8), ('week 1', 'mon', 9), ('week 1', 'mon', 10), ('week 1', 'mon', 11), ('week 1', 'mon', 12), ('week 1', 'mon', 13), ('week 1', 'mon', 14), ('week 1', 'mon', 15), ('week 1', 'mon', 16), ('week 1', 'mon', 17), ('week 1', 'mon', 18), ('week 1', 'mon', 19), ('week 1', 'mon', 20), ('week 1', 'mon', 21), ('week 1', 'mon', 22), ('week 1', 'mon', 23), ('week 1', 'tue', 0), ('week 1', 'tue', 1), ('week 1', 'tue', 2), ('week 1', 'tue', 3), ('week 1', 'tue', 4), ('week 1', 'tue', 5), ('week 1', 'tue', 6), ('week 1', 'tue', 7), ('week 1', 'tue', 8), ('week 1', 'tue', 9), ('week 1', 'tue', 10), ('week 1', 'tue', 11), ('week 1', 'tue', 12), ('week 1', 'tue', 13), ('week 1', 'tue', 14), ('week 1', 'tue', 15), ('week 1', 'tue', 16), ('week 1', 'tue', 17), ('week 1', 'tue', 18), ('week 1', 'tue', 19), ('week 1', 'tue', 20), ('week 1', 'tue', 21), ('week 1', 'tue', 22), ('week 1', 'tue', 23), ('week 1', 'wed', 0), ('week 1', 'wed', 1), ('week 1', 'wed', 2), ('week 1', 'wed', 3), ('week 1', 'wed', 4), ('week 1', 'wed', 5), ('week 1', 'wed', 6), ('week 1', 'wed', 7), ('week 1', 'wed', 8), ('week 1', 'wed', 9), ('week 1', 'wed', 10), ('week 1', 'wed', 11), ('week 1', 'wed', 12), ('week 1', 'wed', 13), ('week 1', 'wed', 14), ('week 1', 'wed', 15), ('week 1', 'wed', 16), ('week 1', 'wed', 17), ('week 1', 'wed', 18), ('week 1', 'wed', 19), ('week 1', 'wed', 20), ('week 1', 'wed', 21), ('week 1', 'wed', 22), ('week 1', 'wed', 23), ('week 1', 'thu', 0), ('week 1', 'thu', 1), ('week 1', 'thu', 2), ('week 1', 'thu', 3), ('week 1', 'thu', 4), ('week 1', 'thu', 5), ('week 1', 'thu', 6), ('week 1', 'thu', 7), ('week 1', 'thu', 8), ('week 1', 'thu', 9), ('week 1', 'thu', 10), ('week 1', 'thu', 11), ('week 1', 'thu', 12), ('week 1', 'thu', 13), ('week 1', 'thu', 14), ('week 1', 'thu', 15), ('week 1', 'thu', 16), ('week 1', 'thu', 17), ('week 1', 'thu', 18), ('week 1', 'thu', 19), ('week 1', 'thu', 20), ('week 1', 'thu', 21), ('week 1', 'thu', 22), ('week 1', 'thu', 23), ('week 1', 'fri', 0), ('week 1', 'fri', 1), ('week 1', 'fri', 2), ('week 1', 'fri', 3), ('week 1', 'fri', 4), ('week 1', 'fri', 5), ('week 1', 'fri', 6), ('week 1', 'fri', 7), ('week 1', 'fri', 8), ('week 1', 'fri', 9), ('week 1', 'fri', 10), ('week 1', 'fri', 11), ('week 1', 'fri', 12), ('week 1', 'fri', 13), ('week 1', 'fri', 14), ('week 1', 'fri', 15), ('week 1', 'fri', 16), ('week 1', 'fri', 17), ('week 1', 'fri', 18), ('week 1', 'fri', 19), ('week 1', 'fri', 20), ('week 1', 'fri', 21), ('week 1', 'fri', 22), ('week 1', 'fri', 23), ('week 2', 'mon', 0), ('week 2', 'mon', 1), ('week 2', 'mon', 2), ('week 2', 'mon', 3), ('week 2', 'mon', 4), ('week 2', 'mon', 5), ('week 2', 'mon', 6), ('week 2', 'mon', 7), ('week 2', 'mon', 8), ('week 2', 'mon', 9), ('week 2', 'mon', 10), ('week 2', 'mon', 11), ('week 2', 'mon', 12), ('week 2', 'mon', 13), ('week 2', 'mon', 14), ('week 2', 'mon', 15), ('week 2', 'mon', 16), ('week 2', 'mon', 17), ('week 2', 'mon', 18), ('week 2', 'mon', 19), ('week 2', 'mon', 20), ('week 2', 'mon', 21), ('week 2', 'mon', 22), ('week 2', 'mon', 23), ('week 2', 'tue', 0), ('week 2', 'tue', 1), ('week 2', 'tue', 2), ('week 2', 'tue', 3), ('week 2', 'tue', 4), ('week 2', 'tue', 5), ('week 2', 'tue', 6), ('week 2', 'tue', 7), ('week 2', 'tue', 8), ('week 2', 'tue', 9), ('week 2', 'tue', 10), ('week 2', 'tue', 11), ('week 2', 'tue', 12), ('week 2', 'tue', 13), ('week 2', 'tue', 14), ('week 2', 'tue', 15), ('week 2', 'tue', 16), ('week 2', 'tue', 17), ('week 2', 'tue', 18), ('week 2', 'tue', 19), ('week 2', 'tue', 20), ('week 2', 'tue', 21), ('week 2', 'tue', 22), ('week 2', 'tue', 23), ('week 2', 'wed', 0), ('week 2', 'wed', 1), ('week 2', 'wed', 2), ('week 2', 'wed', 3), ('week 2', 'wed', 4), ('week 2', 'wed', 5), ('week 2', 'wed', 6), ('week 2', 'wed', 7), ('week 2', 'wed', 8), ('week 2', 'wed', 9), ('week 2', 'wed', 10), ('week 2', 'wed', 11), ('week 2', 'wed', 12), ('week 2', 'wed', 13), ('week 2', 'wed', 14), ('week 2', 'wed', 15), ('week 2', 'wed', 16), ('week 2', 'wed', 17), ('week 2', 'wed', 18), ('week 2', 'wed', 19), ('week 2', 'wed', 20), ('week 2', 'wed', 21), ('week 2', 'wed', 22), ('week 2', 'wed', 23), ('week 2', 'thu', 0), ('week 2', 'thu', 1), ('week 2', 'thu', 2), ('week 2', 'thu', 3), ('week 2', 'thu', 4), ('week 2', 'thu', 5), ('week 2', 'thu', 6), ('week 2', 'thu', 7), ('week 2', 'thu', 8), ('week 2', 'thu', 9), ('week 2', 'thu', 10), ('week 2', 'thu', 11), ('week 2', 'thu', 12), ('week 2', 'thu', 13), ('week 2', 'thu', 14), ('week 2', 'thu', 15), ('week 2', 'thu', 16), ('week 2', 'thu', 17), ('week 2', 'thu', 18), ('week 2', 'thu', 19), ('week 2', 'thu', 20), ('week 2', 'thu', 21), ('week 2', 'thu', 22), ('week 2', 'thu', 23), ('week 2', 'fri', 0), ('week 2', 'fri', 1), ('week 2', 'fri', 2), ('week 2', 'fri', 3), ('week 2', 'fri', 4), ('week 2', 'fri', 5), ('week 2', 'fri', 6), ('week 2', 'fri', 7), ('week 2', 'fri', 8), ('week 2', 'fri', 9), ('week 2', 'fri', 10), ('week 2', 'fri', 11), ('week 2', 'fri', 12), ('week 2', 'fri', 13), ('week 2', 'fri', 14), ('week 2', 'fri', 15), ('week 2', 'fri', 16), ('week 2', 'fri', 17), ('week 2', 'fri', 18), ('week 2', 'fri', 19), ('week 2', 'fri', 20), ('week 2', 'fri', 21), ('week 2', 'fri', 22), ('week 2', 'fri', 23)]

How about conditionals?

In [0]:
div_by_7 = [n ** n for n in range(100) if (n ** n) % 7 == 0]

In [0]:
print(div_by_7)

[823543, 11112006825558016, 5842587018385982521381124421, 33145523113253374862572728253364605812736, 1102507499354148695951786433413508348166942596435546875, 150130937545296572356771972164254457814047970568738777235893533016064, 66009724686219550843768321818371771650147004059278069406814190436565131829325062449, 79164324866862966607842406018063254671922245312646690223362402918484170424104310169552592050323456, 228273036346967044979900512337165522400819024722490933829954793073267717315004135590642802687246850771579138342847, 1435036016098684342856030763566710717400773837392460666392490000000000000000000000000000000000000000000000000000000000000000000000, 18188037387806198379277339915556929647807403283187048631478337739929618787870634227045716719924575689062274471430368865388203540672666042530996797, 435973436827325522360279881406914796368935566412408014666801047266959214000936369697318397328752293573138388721289594366953995072735552848220101541587045199118336, 18739875497044403588343023979942190913870699099585922106152367184893220649019310617359174987694158429118066514085327846177870674743597929299970612055662195817332948573029136642691, 1380878341261486750656911803252309726876604105686729638072729543243701479670593033211008001443536626310535980077544691196522513327846303307992442770355560270350429006522588433404602387992091295744]

## Iterators
Objects that contain a countable number of items

In [0]:
_l = ['one', 'two', 'three', 'four', 'five']
print(next(_l))

TypeError: ignored

In [0]:
_list1 = ['one', 'two', 'three', 'four', 'five']
myIter = iter(_list1)

In [0]:
print(next(myIter))

one

lists, dictionaries and sets are iterables that yield iterators. Can we create a class that behaves the same way?

In [0]:
class MyIterable:
  def __iter__(self):
    self.value = 2
    return self
  
  def __next__(self):
    x = self.value
    self.value *= 2
    return x

In [0]:
_myIterable = MyIterable()
_myIterator = iter(_myIterable)

print(next(_myIterator))
print(next(_myIterator))
print(next(_myIterator))
print(next(_myIterator))
print(next(_myIterator))

2
4
8
16
32

## Generators

In [0]:
def _doubles(n):
  b = []
  a = 2
  while a < n:
    b.append(a)
    a *= 2
  return b

print(sum(_doubles(60)))

62

In [0]:
def _my_doubles(n):
  a = 2
  while a < n:
    yield a
    a *= 2

In [0]:
a = _my_doubles(60)
print(type(a))

<class 'generator'>

In [0]:
print(a)

<generator object _my_doubles at 0x7f504f0e7fc0>

In [0]:
print(next(a))

StopIteration: ignored

In [0]:
print(sum(a))

62

In [0]:
print(*a)

2 4 8 16 32

In [0]:
for item in a:
  print(item)

In [0]:
weeks_and_days = [('week {}'.format(week), day, hour) for week in range (1,3) for day in ['mon', 'tue', 'wed', 'thu', 'fri'] for hour in range(24)]
print(weeks_and_days)

[('week 1', 'mon', 0), ('week 1', 'mon', 1), ('week 1', 'mon', 2), ('week 1', 'mon', 3), ('week 1', 'mon', 4), ('week 1', 'mon', 5), ('week 1', 'mon', 6), ('week 1', 'mon', 7), ('week 1', 'mon', 8), ('week 1', 'mon', 9), ('week 1', 'mon', 10), ('week 1', 'mon', 11), ('week 1', 'mon', 12), ('week 1', 'mon', 13), ('week 1', 'mon', 14), ('week 1', 'mon', 15), ('week 1', 'mon', 16), ('week 1', 'mon', 17), ('week 1', 'mon', 18), ('week 1', 'mon', 19), ('week 1', 'mon', 20), ('week 1', 'mon', 21), ('week 1', 'mon', 22), ('week 1', 'mon', 23), ('week 1', 'tue', 0), ('week 1', 'tue', 1), ('week 1', 'tue', 2), ('week 1', 'tue', 3), ('week 1', 'tue', 4), ('week 1', 'tue', 5), ('week 1', 'tue', 6), ('week 1', 'tue', 7), ('week 1', 'tue', 8), ('week 1', 'tue', 9), ('week 1', 'tue', 10), ('week 1', 'tue', 11), ('week 1', 'tue', 12), ('week 1', 'tue', 13), ('week 1', 'tue', 14), ('week 1', 'tue', 15), ('week 1', 'tue', 16), ('week 1', 'tue', 17), ('week 1', 'tue', 18), ('week 1', 'tue', 19), ('week 1', 'tue', 20), ('week 1', 'tue', 21), ('week 1', 'tue', 22), ('week 1', 'tue', 23), ('week 1', 'wed', 0), ('week 1', 'wed', 1), ('week 1', 'wed', 2), ('week 1', 'wed', 3), ('week 1', 'wed', 4), ('week 1', 'wed', 5), ('week 1', 'wed', 6), ('week 1', 'wed', 7), ('week 1', 'wed', 8), ('week 1', 'wed', 9), ('week 1', 'wed', 10), ('week 1', 'wed', 11), ('week 1', 'wed', 12), ('week 1', 'wed', 13), ('week 1', 'wed', 14), ('week 1', 'wed', 15), ('week 1', 'wed', 16), ('week 1', 'wed', 17), ('week 1', 'wed', 18), ('week 1', 'wed', 19), ('week 1', 'wed', 20), ('week 1', 'wed', 21), ('week 1', 'wed', 22), ('week 1', 'wed', 23), ('week 1', 'thu', 0), ('week 1', 'thu', 1), ('week 1', 'thu', 2), ('week 1', 'thu', 3), ('week 1', 'thu', 4), ('week 1', 'thu', 5), ('week 1', 'thu', 6), ('week 1', 'thu', 7), ('week 1', 'thu', 8), ('week 1', 'thu', 9), ('week 1', 'thu', 10), ('week 1', 'thu', 11), ('week 1', 'thu', 12), ('week 1', 'thu', 13), ('week 1', 'thu', 14), ('week 1', 'thu', 15), ('week 1', 'thu', 16), ('week 1', 'thu', 17), ('week 1', 'thu', 18), ('week 1', 'thu', 19), ('week 1', 'thu', 20), ('week 1', 'thu', 21), ('week 1', 'thu', 22), ('week 1', 'thu', 23), ('week 1', 'fri', 0), ('week 1', 'fri', 1), ('week 1', 'fri', 2), ('week 1', 'fri', 3), ('week 1', 'fri', 4), ('week 1', 'fri', 5), ('week 1', 'fri', 6), ('week 1', 'fri', 7), ('week 1', 'fri', 8), ('week 1', 'fri', 9), ('week 1', 'fri', 10), ('week 1', 'fri', 11), ('week 1', 'fri', 12), ('week 1', 'fri', 13), ('week 1', 'fri', 14), ('week 1', 'fri', 15), ('week 1', 'fri', 16), ('week 1', 'fri', 17), ('week 1', 'fri', 18), ('week 1', 'fri', 19), ('week 1', 'fri', 20), ('week 1', 'fri', 21), ('week 1', 'fri', 22), ('week 1', 'fri', 23), ('week 2', 'mon', 0), ('week 2', 'mon', 1), ('week 2', 'mon', 2), ('week 2', 'mon', 3), ('week 2', 'mon', 4), ('week 2', 'mon', 5), ('week 2', 'mon', 6), ('week 2', 'mon', 7), ('week 2', 'mon', 8), ('week 2', 'mon', 9), ('week 2', 'mon', 10), ('week 2', 'mon', 11), ('week 2', 'mon', 12), ('week 2', 'mon', 13), ('week 2', 'mon', 14), ('week 2', 'mon', 15), ('week 2', 'mon', 16), ('week 2', 'mon', 17), ('week 2', 'mon', 18), ('week 2', 'mon', 19), ('week 2', 'mon', 20), ('week 2', 'mon', 21), ('week 2', 'mon', 22), ('week 2', 'mon', 23), ('week 2', 'tue', 0), ('week 2', 'tue', 1), ('week 2', 'tue', 2), ('week 2', 'tue', 3), ('week 2', 'tue', 4), ('week 2', 'tue', 5), ('week 2', 'tue', 6), ('week 2', 'tue', 7), ('week 2', 'tue', 8), ('week 2', 'tue', 9), ('week 2', 'tue', 10), ('week 2', 'tue', 11), ('week 2', 'tue', 12), ('week 2', 'tue', 13), ('week 2', 'tue', 14), ('week 2', 'tue', 15), ('week 2', 'tue', 16), ('week 2', 'tue', 17), ('week 2', 'tue', 18), ('week 2', 'tue', 19), ('week 2', 'tue', 20), ('week 2', 'tue', 21), ('week 2', 'tue', 22), ('week 2', 'tue', 23), ('week 2', 'wed', 0), ('week 2', 'wed', 1), ('week 2', 'wed', 2), ('week 2', 'wed', 3), ('week 2', 'wed', 4), ('week 2', 'wed', 5), ('week 2', 'wed', 6), ('week 2', 'wed', 7), ('week 2', 'wed', 8), ('week 2', 'wed', 9), ('week 2', 'wed', 10), ('week 2', 'wed', 11), ('week 2', 'wed', 12), ('week 2', 'wed', 13), ('week 2', 'wed', 14), ('week 2', 'wed', 15), ('week 2', 'wed', 16), ('week 2', 'wed', 17), ('week 2', 'wed', 18), ('week 2', 'wed', 19), ('week 2', 'wed', 20), ('week 2', 'wed', 21), ('week 2', 'wed', 22), ('week 2', 'wed', 23), ('week 2', 'thu', 0), ('week 2', 'thu', 1), ('week 2', 'thu', 2), ('week 2', 'thu', 3), ('week 2', 'thu', 4), ('week 2', 'thu', 5), ('week 2', 'thu', 6), ('week 2', 'thu', 7), ('week 2', 'thu', 8), ('week 2', 'thu', 9), ('week 2', 'thu', 10), ('week 2', 'thu', 11), ('week 2', 'thu', 12), ('week 2', 'thu', 13), ('week 2', 'thu', 14), ('week 2', 'thu', 15), ('week 2', 'thu', 16), ('week 2', 'thu', 17), ('week 2', 'thu', 18), ('week 2', 'thu', 19), ('week 2', 'thu', 20), ('week 2', 'thu', 21), ('week 2', 'thu', 22), ('week 2', 'thu', 23), ('week 2', 'fri', 0), ('week 2', 'fri', 1), ('week 2', 'fri', 2), ('week 2', 'fri', 3), ('week 2', 'fri', 4), ('week 2', 'fri', 5), ('week 2', 'fri', 6), ('week 2', 'fri', 7), ('week 2', 'fri', 8), ('week 2', 'fri', 9), ('week 2', 'fri', 10), ('week 2', 'fri', 11), ('week 2', 'fri', 12), ('week 2', 'fri', 13), ('week 2', 'fri', 14), ('week 2', 'fri', 15), ('week 2', 'fri', 16), ('week 2', 'fri', 17), ('week 2', 'fri', 18), ('week 2', 'fri', 19), ('week 2', 'fri', 20), ('week 2', 'fri', 21), ('week 2', 'fri', 22), ('week 2', 'fri', 23)]

In [0]:
weeks_and_days = ( ('week {}'.format(week), day, hour) for week in range (1,3) for day in ['mon', 'tue', 'wed', 'thu', 'fri'] for hour in range(24) )
print(weeks_and_days)

<generator object <genexpr> at 0x7f504f0e7db0>

In [0]:
print(next(weeks_and_days))

('week 1', 'mon', 3)

In [0]:
for item in weeks_and_days:
  print(item)

In [0]:
n = 6
for i in range (1, n):
  print(2 ** i)

2
4
8
16
32

In [0]:
_list = [2 ** i for i in range(1,6)]
print(_list)

[2, 4, 8, 16, 32]

In [0]:
_gen = (2 ** i for i in range(1, 6))
print(*_gen)

2 4 8 16 32